<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a0</key>
	<string>[微笑]</string>
	<key>a1</key>
	<string>[撇嘴]</string>
	<key>a2</key>
	<string>[色]</string>
	<key>a3</key>
	<string>[发呆]</string>
	<key>a4</key>
	<string>[得意]</string>
	<key>a5</key>
	<string>[流泪]</string>
	<key>a6</key>
	<string>[害羞]</string>
	<key>a7</key>
	<string>[闭嘴]</string>
	<key>a8</key>
	<string>[睡]</string>
	<key>a9</key>
	<string>[大哭]</string>
	<key>b0</key>
	<string>[尴尬]</string>
	<key>b1</key>
	<string>[发怒]</string>
	<key>b2</key>
	<string>[调皮]</string>
	<key>b3</key>
	<string>[呲牙]</string>
	<key>b4</key>
	<string>[惊讶]</string>
	<key>b5</key>
	<string>[难过]</string>
	<key>b6</key>
	<string>[酷]</string>
	<key>b7</key>
	<string>[冷汗]</string>
	<key>b8</key>
	<string>[抓狂]</string>
	<key>b9</key>
	<string>[吐]</string>
	<key>c0</key>
	<string>[偷笑]</string>
	<key>c1</key>
	<string>[愉快]</string>
	<key>c2</key>
	<string>[白眼]</string>
	<key>c3</key>
	<string>[傲慢]</string>
	<key>c4</key>
	<string>[饥饿]</string>
	<key>c5</key>
	<string>[困]</string>
	<key>c6</key>
	<string>[惊恐]</string>
	<key>c7</key>
	<string>[流汗]</string>
	<key>c8</key>
	<string>[憨笑]</string>
	<key>c9</key>
	<string>[休闲]</string>
	<key>d0</key>
	<string>[奋斗]</string>
	<key>d1</key>
	<string>[咒骂]</string>
	<key>d2</key>
	<string>[疑问]</string>
	<key>d3</key>
	<string>[嘘]</string>
	<key>d4</key>
	<string>[晕]</string>
	<key>d5</key>
	<string>[疯了]</string>
	<key>d6</key>
	<string>[衰]</string>
	<key>d7</key>
	<string>[骷髅]</string>
	<key>d8</key>
	<string>[敲打]</string>
	<key>d9</key>
	<string>[再见]</string>
	<key>e0</key>
	<string>[擦汗]</string>
	<key>e1</key>
	<string>[抠鼻]</string>
	<key>e2</key>
	<string>[鼓掌]</string>
	<key>e3</key>
	<string>[糗大了]</string>
	<key>e4</key>
	<string>[坏笑]</string>
	<key>e5</key>
	<string>[左哼哼]</string>
	<key>e6</key>
	<string>[右哼哼]</string>
	<key>e7</key>
	<string>[哈欠]</string>
	<key>e8</key>
	<string>[鄙视]</string>
	<key>e9</key>
	<string>[委屈]</string>
	<key>f0</key>
	<string>[快哭了]</string>
	<key>f1</key>
	<string>[阴险]</string>
	<key>f2</key>
	<string>[亲亲]</string>
	<key>f3</key>
	<string>[吓]</string>
	<key>f4</key>
	<string>[可怜]</string>
</dict>
</plist>
